body {
	background-color: #f0f8ff; /* Приятный цвет фона */
}

.block1 {
	inline-size: 100px; /* Ширина блока */
	block-size: 100px; /* Высота блока */
	background-color: #ff6347; /* Цвет блока 1 */
	margin: 10px; /* Внешние отступы вокруг блока */
}

.block2 {
	inline-size: 100px; /* Ширина блока */
	block-size: 100px; /* Высота блока */
	background-color: #4682b4; /* Цвет блока 2 */
	margin: 10px; /* Внешние отступы вокруг блока */
}
